body {
  font-family: "Righteous", sans-serif;
  background-color: #7f85f5;
  display: inline;
  display: flex;
}
.MCCD {
  list-style-type: none;
}
.MCCD li::before {
    content:"";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(https://em-content.zobj.net/source/apple/237/books_1f4da.png);
    background-size: contain;
    border-radius: 50%;
    vertical-align: middle;
}
h1 {
  color: #ffffff;
  font-family: "Righteous", sans-serif;
  font-size: 500%;
}
h2 {
  color: #ffffff;
  font-size: 230%;
}

header {
  background-color: midnightblue;
  max-width: 300px;
}
a:link {
  color: rgb(255, 255, 255);
}
ul {
  background-color: #7f85f5;

}

.formations ul {
    color: navy;
}
h3 {color: navy;}
.MCCD {color: black;}
.presentation {
  color: white;
  font-size: 22px;
}

div.photo {flex}
div.presentation {flex}
.contact {position: sticky ;}
